.detects {
  margin: $HeaderHeight + $StandardPadding 30% $StandardPadding 290px
}

.option {
  position: relative
  width: 100%
  outline: 0
  border: 0
  background: none
  color: #909090
  vertical-align: middle
  text-align: left
}

.detect {
  background: darken($White, 3%)
  display: inline-block

  .option-label,
  &.none {
    display: block
    position: relative
    height: $DetectHeight
    font-size: 1.2em
    line-height: $DetectHeight
    overflow: hidden
    padding-right: $DetectHeight + 10px
    padding-left: 1.2em
    width: 100%
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer
  }

  &.none:hover {
    cursor: not-allowed
  }
}

.detectRow {
  border-top: $lightBorder

  &:first-child {
    border-top: none
  }
}

.detectsGrid .detectRow {
  display: inline-block
  vertical-align: top
  border-left: $lightBorder
  width: 100%
  @media (min-width: $XLargeScreen + 1px) {
    width: 50%
  }
  @media (min-width: $XXLargeScreen + 1px) {
    width: 33.33%;
  }
}

.option-label {
  cursor: pointer
  width: 100%
  display: inline-block
  position: relative
}

.detect.none
.expanded .detect {
  background: $White
}

.option-checkbox:focus + .option-label,
.option-label:hover,
.expanded .detect,
.detect:hover {
  background: $White;
  color: #444
}

@media (max-width: $largeScreen) {
  .detects {
    margin-right: 0
  }
}

@media (max-width: $largeScreen) {
  .detects {
    margin: (($HeaderButtonHeight * 3) + $StatsHeight) 0 0
  }
}

@media (max-width: $mediumScreen) {
  .detects {
    margin: (($HeaderButtonHeight * 4) + $StatsHeight) 0 0
  }
}

@media (max-width: 550px) {
  .detect {
    font-size: 20px
  }
}

@media (max-width: $smallScreen) {
  .detect {
    font-size: 14px
  }

  .detects {
    margin: ($SmallHeaderHeight + $StatsHeight + ($HeaderButtonHeight * 2)) 0 0
  }

  .detect .option-label, .detect.none {
    height: $DetectHeight - 20
    line-height: $DetectHeight - 20
  }
}
