.downloadOverlay {
  position: fixed
  top: $HeaderHeight
  right: 0
  bottom: 0
  left: 0
  z-index: 1
  display: flex
  background: $OverlayColor
  background: rgba($OverlayColor, 0.8)
  color: $Black
  align-items: center
  justify-content: center
}

.downloadOverlay-container {
  @extend $hiddenScrollbar

  padding: 30px
  max-width: 600px
  max-height: 65%
  width: 95%
  background: $White
  overflow: scroll

  textarea {
    min-height: 250px
    width: 100%
    outline: none
    font-family: monospace
    &::selection {
      color: $White
      background: $ModernizrPink
    }
  }

  form .fakelink {
    text-decoration: none
    color: $ModernizrPink
  }
}

.downloadOverlay-option {
  display: flex
  justify-content: space-between

  .fakelink {
    display: inline-block
    padding: 2px 15px
    color: $ModernizrPink
    text-decoration: none
  }

  .zeroclipboard-is-hover,
  .fakelink:hover,
  .fakelink:focus {
    outline: none
    color: $Black
  }
}

@media (max-width: $largeScreen) {
  .downloadOverlay {
    top: 0
    z-index: 3
  }

}

@media (max-width: $mediumScreen) {
  .downloadOverlay-option {
    display: block
    margin-bottom: 1em

    label {
      font-size: 1.2em
    }
  }

  .downloadOverlay-option > span {
    display: block
    direction: rtl

    a.fakelink {
      padding-left: 0
    }
  }
}

@media (max-width: $smallScreen) {
  .downloadOverlay-container {
    padding: 20px;
    width: 100%
    font-size: 0.8em
  }
}
