.builder {
  .header {
    position: fixed
    top: 0
    z-index: 1
  }

  .header-items {
    height: $HeaderButtonHeight
  }
}

.transition {
  .header-items {
    height: $HeaderHeight
  }
}

.no-js {
  .header-item {
    height: $HeaderHeight
    &:last-child {
      height: $HeaderButtonHeight
    }
  }

  .header-search {
    pointer-events: none
  }

  .header-search-input {
    visibility: hidden
  }

  .header-search-build {
    pointer-events: all
  }
}

.header-search {
  position: fixed
  top: $HeaderHeight
  right: 0
  left: 290px
  z-index: 2
  display: flex
  height: 0
}

.header-search {
  top: $HeaderButtonHeight
  height: $HeaderButtonHeight
}

.header-search-input {
  padding: 0 1em
  height: 100%
  border: 0
  border-right: 10px solid #272727
  font-style: italic
  flex: 3
  font-size: 1.2em
}

.header-search-input {
  outline: none
  background: #272727
  color: $White
}

.header-search-build {
  min-width: 100px
  height: 100%
  border: 0
  border-top: $lightBorder
  background: $ModernizrPink
  color: $White
  text-transform: uppercase
  font-weight: 400
  font-size: 1.4em
  letter-spacing: 0.05em
  flex: 1
  cursor: pointer
  user-select: none
  &:focus {
    outline: none
    background: $White
    color: $ModernizrPink
  }
}

@media (max-width: $largeScreen) {
  .builder .header {
    position: absolute
  }

  .header-search {
    position: absolute
    left: 155px
  }
}

@media (max-width: $mediumScreen) {
  .header-search {
    top: $HeaderHeight
    left: 0
  }

  .no-js {
    .header-item {
      height: $HeaderButtonHeight
    }
    .header-search-input {
      display: none
    }
  }
}

@media (max-width: $smallScreen) {
  .header-search-build {
    padding: 0
  }

  .header-search {
    top: $SmallHeaderHeight
    z-index: initial
  }
}
