.metadataColumn {
  @extend $hiddenScrollbar

  color: $Black
  position: fixed
  top: 150px
  right: 0
  bottom: -16px
  display: none
  overflow: scroll
  padding: 0 0 0 32px
  width: 30%
}

.expanded .metadataColumn,
.option-label:focus ~ .metadataColumn,
.option-checkbox:focus ~ .metadataColumn {
  display: block
}

.metadata-detailsLink {
  display: block
}

.propertyname {
  margin-top: 10px
  p {
    margin: 0.8em 0
  }
  a {
    cursor: pointer
  }
}

code {
   padding: 5px
   font-size: 0.8em
}

@media (min-width: $largeScreen + 1px) {
  .builder .metadataColumn {
    z-index: 2
  }
}

@media (max-width: $largeScreen) {
  .metadataColumn {
    position: static
    overflow: visible
    width: 100%
    padding: 0
  }

  .name,
  .hasAuthors .heading {
    display: none
  }

  .hasAuthors {
    display: block
    background: $White
    border-top: $lightBorder
    padding: 12px 24px
  }
}
