<meta charset="utf-8">
<meta name="google-site-verification" content="il-E6_rjDwhABF0CtrGlyr-tWXUSPY9NfDil4AdIBjs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{! `this` refers to the arg passed to the helper - in this case just a string}}
<title>{{this}}</title>
<link rel="stylesheet" href="/css/main.css" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet'>
<link rel="alternate" type="application/rss+xml" title="RSS Feed for Modernizr.com" href="/feed" />
