<header class="header" role="banner">
  <div class="header-logo"><a title="modernizr.com" href="/"><i class="logo">Modernizr</i></a></div>
  <label for="header-items-toggle" class="header-items-toggle">MENU</label>
  <input id="header-items-toggle" class="option-checkbox" type="checkbox"/>
  <ul class="header-items">
    {{> partials/header-item href="/download" text="Browse Features"}}
    {{> partials/header-item href="/" text="Documentation"}}
    {{> partials/header-item href="/" text="News"}}
    {{> partials/header-item href="/" text="Resources"}}
  </ul>
</header>
