html {
  box-sizing: border-box
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  min-width: 320px
  color: $Black

  &.font-loaded {
    font-family: 'Open Sans', sans-serif
  }
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  background: $BackgroundGrey
  display: flex
  flex-direction: column
}

main {
  margin: 0 40px
  flex: 1
  min-height: "calc(100vh - %s)" % $HeaderHeight
}

a,
a:visited {
  color: $ModernizrPink
  text-decoration: none
}

a:focus {
  outline: none
  text-decoration: underline
}

ul {
  margin: 0
  padding: 0
  list-style: none
}

@media (max-width: $mediumScreen) {
  main {
    margin: 0 10px
  }
}
