html {
  box-sizing: border-box
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  min-width: 320px
  color: $Black

  &.font-loaded {
    font-family: 'Source Sans Pro', sans-serif
  }
}

*, *:before, *:after {
  box-sizing: inherit
}

body {
  background: $BackgroundGrey
}

a,
a:visited {
  color: $ModernizrPink
  text-decoration: none
}

a:focus {
  outline: none
  text-decoration: underline
}

ul {
  margin: 0
  padding: 0
  list-style: none
}

main {
  margin: 0 40px;
}
