.column {
  display: inline-block
  vertical-align: top
}

.column .box {
  border-top: $lightBorder
  padding: 12px 24px
  background: $White
}

.column .box:first-child {
  border-top: none
}

.heading {
  font-size: 2em
}

.heading-small {
  font-size: 1.3em
  margin-bottom: 16px
}

.small {
  font-size: 0.75em
}

.truncate {
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  word-wrap: normal
}

.hidden {
  display: none !important
}

.hiddentext {
  color: transparent!important
  overflow: hidden
}

.screenreader {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.light {
  color: $Grey
}

.fakelink {
  padding: 0
  border: none
  background: none
  text-decoration: underline
  cursor: pointer

  &:hover,
  &:focus {
    outline: none
  }
}

.fakebtn {
  display: inline-block
  padding: 0.8em 1em
  color: $White
  background: $ModernizrPink
  text-decoration: none
  word-spacing: 0.1em
  &:focus {
    text-decoration: none
  }
}

.fakebtn--secondary {
  border: 1px solid $Grey
  background: transparent
  color: $DarkGrey
  &:hover {
    border-color: $DarkGrey
  }
}
