.footer {
  color: $BackgroundGrey
  min-height: $HeaderHeight * 2
  min-height: 50vh
  background: $ModernizrPink
  padding: 150px 40px 100px
  text-align: center

  a {
    display: block
    color: $BackgroundGrey
  }
}

.teamMember {
  display: inline-block
  width: 250px
  vertical-align: top
  text-align: left
  margin: 1em 0

  img {
    float: left
    width: 72px
    margin-right: 1em
  }
}
