.footer {
  position: relative
  display: flex
  padding: 2em 40px
  min-height: $FooterHeight
  background: $ModernizrPink
  color: $BackgroundGrey
  font-size: 20px
  line-height: 1.6
  justify-content: space-between
  align-items: flex-end

  a, .fakelink {
    color: $BackgroundGrey
    &:focus,
    &:hover,
    &:active {
      text-decoration: underline
      outline: none
    }
  }

  .fakelink {
    text-decoration: none
  }

  .hiddentext {
    display: inline-block
    width: 38px
    height: 38px
    background-image: url(/img/github.svg)
    background-position: center
    background-size: contain
    background-repeat: no-repeat
  }
}

.footer-links {
  flex: 1 1 auto
  width: 100%
  &>div {
    margin: 0.5em 0
  }
}

@media (max-width: $largeScreen) {
  .footer {
    flex-direction: column
    text-align: center
    font-size: 16px

    .hiddentext {
      margin: 1em auto 0
    }

    .footer-links {
      padding-bottom: 1em
    }
  }
}

@media (max-width: $mediumScreen) {
  .footer {
    font-size: 12px
  }
  .footer-links {
    &>div {
      margin: 1em 0
    }
  }
}
