.footer {
  position: relative
  display: flex
  padding: 1em 40px
  min-height: $FooterHeight
  background: $ModernizrPink
  color: $BackgroundGrey
  font-size: 28px
  justify-content: space-between
  align-items: flex-end

  .teamMembers, .teamMember {
    display: inline
  }

  .teamMember {
    padding-right: 0.3em;
  }

  a, .fakelink {
    color: $BackgroundGrey
    &:focus,
    &:hover,
    &:active {
      text-decoration: underline
      outline: none
    }
  }

  .fakelink {
    text-decoration: none
  }

  .hiddentext {
    width: 38px
    height: 38px
    background-image: url(/img/github.svg)
    background-position: center
    background-size: contain
    background-repeat: no-repeat
  }
}

@media (max-width: $largeScreen) {
  .footer {
    flex-direction: column

    .hiddentext {
      margin: 1em auto 0
    }
  }
}
