.home {
  color: $DarkGrey
  margin: 65px 40px

  h1 {
    font-size: 6em
    margin-top: 0
    margin-bottom: 0
    line-height: 1.16em
  }

  h2, h3, h4, h5, h6 {
    color: $Grey
    font-weight: 100
    margin: 1em 0 0.5em
  }

  h3 {
    font-size: 2em
  }

  .fake-btn {
    display: inline-block
    padding: 0.8em 1em
    color: $White
    background: $ModernizrPink
    font-size: 28px
    text-decoration: none
  }
}

@media (max-width: $mediumScreen) {
  .home h1 {
    font-size: 3em
  }
}
