.home {
  color: #444

  h1 {
    font-size: 6em
    width: 75%
    margin-bottom: 0
  }

  h3 {
    font-size: 2em
    width: 75%
    color: #aaa8a9
    font-weight: 100
    margin: 0.5em 0 1em
  }

  .fake-btn {
    display: inline-block
    padding: 0.8em 1em
    color: $White
    background: $ModernizrPink
    font-size: 28px
    text-decoration: none
  }
}

