.pl-k {
  color: #a71d5d
}

.pl-smi {
  color: #333
}

.pl-c1, .pl-s .pl-v {
  color: #0086b3
}

.pl-c {
  color: #969896
}

.pl-e,
.pl-en {
  color: #795da3
}

.pl-s {
  color: #183691
}

.note {
  color: #ccc
}

.codeblock {
  overflow: visible
  color: #333
}
