$ModernizrPink = #db4886
$BackgroundGrey = #ececec
$OverlayColor = #32292C
$White = white
$Black = #272727
$Grey = #aaa8a9
$DarkGrey = #444

$lightBorder = 1px solid #ececec

$HeaderButtonHeight = 60px
$HeaderHeight = $HeaderButtonHeight * 2
$SmallHeaderHeight = 70px
$StandardPadding = 30px

$DetectHeight = 88px
$StatsHeight = $DetectHeight

$XLargeScreen = 1250px
$largeScreen = 920px
$mediumScreen = 750px
$smallScreen = 450px
