$ModernizrPink  = #db4886
$BackgroundGrey = #ececec
$OverlayColor   = #32292C
$White          = white
$NavHover       = #f7f7f7
$Black          = #272727
$Grey           = #aaa8a9
$DarkGrey       = #444
$MidGrey        = #666

$lightBorder = 1px solid #ececec

$HeaderButtonHeight = 60px
$HeaderHeight       = $HeaderButtonHeight * 2
$SmallHeaderHeight  = 70px
$StandardPadding    = 30px
$FooterHeight       = 150px

$TransitionHeight   = 200px
$TransitionDuration = 0.3s

$DetectHeight = 60px
$StatsHeight  = 70px

$XXLargeScreen = 1500px
$XLargeScreen = 1250px
$largeScreen  = 960px
$mediumScreen = 750px
$smallScreen  = 450px


$hiddenScrollbar {
  -ms-overflow-style: none!important
  overflow: -moz-scrollbars-none!important

  &::-webkit-scrollbar {
    width: 0 !important
  }
}
