<!doctype html>
<html lang="en" class="builder">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link  rel="stylesheet" href="/css/main.css" />
    <link  rel="stylesheet" href="/css/builder.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for Modernizr.com" href="/feed" />
  </head>

  <body>
    {{> partials/header}}
    <main role="main" id="main">{{{builderContent}}}</main>
    {{> partials/footer}}
    <script>
      window._metadata={{{metadata}}};
      window._options={{{options}}};
      window._modernizrConfig = {
        metadataUrl: '/js/modernizr-metadata.json',
        packageUrl: '/lib/modernizr/package.json',
        baseUrl: '/lib/modernizr/src',
        paths: {
          text: '/lib/requirejs-plugins/lib/text',
          lib: '/lib/modernizr/lib',
          json: '/lib/requirejs-plugins/src/json',
          lodash: '/js/lodash.custom.js',
          test: '/lib/modernizr/feature-detects'
        }
      }
    </script>
    {{#each scripts}}
      <script src="{{this}}"></script>
    {{/each}}
  </body>
</html>
