{{!-- This page only exists as for the appcache to be included via an iframe, when serviceworkers are not available--}}
<!doctype html>
<html lang="en" manifest="/offline.appcache">
  <head>
    {{> partials/head 'Modernizr Download Builder'}}
  </head>

  <body>
    <main></main>
  </body>
</html>

