<!doctype html>
<html lang="en">
  <head>
    {{> partials/head 'Modernizr News'}}
  </head>

  <body>
    {{> partials/header}}
      {{#with post}}
        <main role="main" id="main" class="news home">{{> partials/post}}</main>
      {{/with}}
    {{> partials/footer}}
  </body>
</html>
