<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link  rel="stylesheet" href="/css/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {{> partials/header}}
    <main role="main" id="main" class="home">
      <h1>Respond to your user’s browser features.</h1>
      <h3>Modernizr tells you what HTML, CSS and JavaScript features the user’s browser has to offer.</h3>
      <a class="fake-btn" href="/download">Add your detects</a>
    </main>
    {{> partials/footer}}
  </body>
</html>
