<!doctype html>
<html lang="en">
  <head>
    {{> partials/head 'Modernizr: the feature detection library for HTML5/CSS3'}}
  </head>

  <body>
    {{> partials/header}}
    <main role="main" id="main" class="home">
      <h1 class="home-heading">Respond to your user’s browser features.</h1>
      <h3 class="home-subheading">Modernizr tells you what HTML, CSS and JavaScript features the user’s browser has to offer.</h3>
      <a class="fakebtn" href="/download">Add your detects</a>
      <div class="home-info">

        <div class="home-blurbs">
          <div class="home-blurb">
            <h3>What is Modernizr?</h3>
            <p>It’s a collection of superfast tests – or “detects” as we like to call them – which run as your web page loads, then you can use the results to tailor the experience to the user.</p>
          </div>
          <div class="home-blurb">
            <h3>Why do I need it?</h3>
            <p>All web developers come up against differences between browsers and devices. That’s largely due to different feature sets: the latest versions of the popular browsers can do some awesome things which older browsers can’t – but we still have to support the older ones.</p>
            <p>Modernizr makes it easy to deliver tiered experiences: make use of the latest and greatest features in browsers which support them, without leaving less fortunate users high and dry.</p>
          </div>
        </div>

        {{> partials/boxes latestPosts=latestPosts}}
      </div>
    </main>
    {{> partials/footer}}
    <script src="/js/build.js"></script>
  </body>
</html>
