<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <link  rel="stylesheet" href="/css/main.css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600" rel="stylesheet">
  </head>

  <body>
    {{> partials/header}}
    <main role="main" id="main" class="home">
      <h1>Respond to your user’s browser features.</h1>
      <h3>Modernizr tells you what HTML, CSS and JavaScript features the user’s browser has to offer.</h3>
      <a class="fake-btn" href="/download">Add your detects</a>
    </main>
  </body>
</html>
